@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yeseva+One&display=swap');
/* shared style start here */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 1440px;
    /* background-color:  rgb(229, 229, 229); */
}
#btn-primary{
    padding: .5rem 1.25rem;
    color: rgb(255, 255, 255);
   font-family: Poppins;
   font-size: 1rem;
   font-weight: 500;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 89, 89);
    margin-bottom: .5rem;
}



/* banner section starts here */
.banner{
    display: flex;
    justify-content: space-around;
    align-items:flex-end;
    margin: 2rem;
    margin-bottom: 2rem;
}
.banner-content{
    width: 40%; 


}
.banner-content h1{
    border-left:4px solid rgb(255, 89, 89);
    border-radius: 5px;
    padding-left: .75rem;
    font-size: 3.75rem;
    font-weight: 800;
    color: rgb(51, 51, 51);
}
.banner-content p{
    color: rgb(62, 62, 62);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    margin: .75rem 0;
}
.banner-image{
    width: 35%;
    
}
.banner-image img{
    width: 100%;
}
/* banner section ends here */

/* mission section starts here */
.mission{
    margin: 2rem 5.5rem;
}
.mission h1{
    text-align: center;
    font-family: Poppins;
    font-size: 3rem;
    font-weight: 700;
}

.card-box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;
}
.card{
    border-radius: 26px;
    margin-top: 2rem;
    padding: .75rem 1rem 1.5rem 1rem;
}
.card-image{
    width: 32%;
}
.card-image img{
    width: 100%;
}
.card h2{
    color: rgb(0, 0, 0);
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: .75rem;
}
.card p{
    color: rgb(66, 66, 66);
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 1rem;
}
/* mission section ends here */

/* develop section starts here */
.develop-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 5.5rem;
    margin-top: 5rem;
}
.develop-image{
    width: 35%;
    position: relative;
}
.develop-image1{
    width: 100%;
    z-index: 1;
    
}
.develop-image1 img{
    width: 100%;
}
.develop-image2{
    width: 45%;
    position: absolute;
    z-index: -1;
    top: 20%;
    left: -18%;
}
.develop-image2 img{
    width: 100%;
}
.develop-image3{
    width: 40%;
    position: absolute;
    z-index: -1;
    bottom: -18%;
    right: -18%;
}
.develop-image3 img{
    width: 100%;
}
.develop-content{
    width: 55%;
}
.develop-content h1{
    color: rgb(51, 51, 51);
    font-family: Poppins;
    font-size: 2.25rem;
    font-weight: 700;
}
.develop-content p{
    color: rgb(62, 62, 62);
    font-family: Poppins;
    font-size: 1.15;
    font-weight: 400;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
/* develop section ends here */
/* build section starts here */
#build-heading{
    color: rgb(0, 0, 0);
    font-family: Poppins;
    font-size: 3rem;
    font-weight: 700; 
    margin-top: 6rem;
    margin-bottom: 6rem;
    text-align: center;
}
.build-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 5.5rem;   
    gap: 6rem;
}
.build-image{
    width: 30%;
    position: relative;
}
.build-image1{
    width: 100%;
}
.build-image1 img{
    width: 100%;
}
.build-image2{
    width: 40%;
    position: absolute;
    top: -5%;
    left: -10%;
    z-index: -1;
}
.build-image2 img{
    width: 100%;
}
.build-image3{
    width: 20%;
    position: absolute;
    z-index: -1;
    right: -1%;
    bottom: 26%;
}
.build-image3 img{
    width: 100%;
}
.build-image4{
    width: 20%;
    position: absolute;
    z-index: -1;
    bottom: 3%;
}
.build-image4 img{
    width: 100%;
}
.build-content{
    width: 40%;
}
.build-content h1{
    color: #000;
    font-family: Poppins;
    font-size: 3rem;
    font-weight: 700;
}
.build-content p{
    color: rgb(62, 62, 62);
    font-family: Poppins;
    font-size: 1.15rem;
    font-weight: 400;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

/* build section ends here */
/* footer section starts here */
    footer{
        margin-top: 2rem;
        text-align: center;
        padding: 3rem;
        background-color:  rgb(11, 13, 23);;
    }
    footer h1{
        color: rgb(255, 255, 255);
        font-family: Lobster;
        font-size: 2rem;
        font-weight: 400;
        margin-bottom: 1.5rem;
    }
    footer h6{
        color: rgb(217, 219, 225);
        font-family: Manrope;
        font-size: .7rem;
        font-weight: 400;
    }
/* footer section ends here */

/* responsive style starts here */
@media screen and (max-width:576px) {
    .banner{
        flex-direction: column-reverse;
    }
    .banner-content{
        width: 100%;
        text-align: center;
    }
    .banner-image{
        width: 100%;
    }
    .card-box{
        grid-template-columns: repeat(1,1fr);
    }
    .develop-container{
        flex-direction: column;
    }
    .develop-image{
        width: 95%;
    }
    .develop-content{
        width: 100%;
        text-align: center;
    }
    .build-container{
        flex-direction: column;
    }
    .build-content{
        width: 100%;
        text-align: center;
    }
    .build-image{
        width: 90%;
    }

}
/* responsive style ends here */